.coding-container{
    margin-left:230px;
    padding:40px;
    color:white;
}

textarea{
    width:90%;
    border-radius:10px;
    padding:15px;
    font-size:16px;
    font-family:Consolas, monospace;
}

.submit-btn{
    background:#6d28d9;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.submit-btn:hover{
    background:#4c1d95;
}